@import "pallete.styl"

body
  font-family "Century Gothic", sans-serif
  font-size 14px
  margin 0

.main_wrap
  display flex
  margin 40px auto 0
  width 1154px
  justify-content space-between

.left-aside,
.right-aside
  width 240px
  min-width 240px

.left-aside
  position relative
  padding-left 40px
  box-sizing border-box

.logo_wrap
  margin-bottom 18px

.pointer-back
  position absolute
  left 6px
  top 8px
  width 24px
  height 22px
  background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAYAAADafVyIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNpi/DhDkYFIoAXEXUD8HYhrgPgmMZpYiDTcFYjXATEPlK8OxHrEaGQiQk0sEG9BMhwEiPY2IQsqgHgRELOhidcQawGuIGIG4glAnIMm/heIc4F4OiUWcEJdHYImDorcaCBez0ACQLdACIg3ArENmvg7IPYH4iMMJAJkC+SAeDs0OSKDR0DsCcTXGMgAsEjWBeJjWAy/DMRW5BoO84ElEO9CS4YwwAYNMnIAKM6KWaARyoNDkToDZWARKIj4GWgHhEAWVNLIcFAQFYCCaC6UMx9Ljl0GxIlA/ItcW5iQDAIlxS9o8lF4EgDJZdE+aJJ8gabGHpqEpSm1AJbuzbGU9bB8okupBbCca4WlWADl9ANQH1FkAazsccNSsAlB48SDGvUBKGWFAvEULLl7PrUqHFj5X4lFnCoWwEAHtC54DU1l6cRaABBgAJeCOmJB+8hSAAAAAElFTkSuQmCC')
  &:hover
    background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAYAAADafVyIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAgVJREFUeNq0VT1IHEEYnW929s87T7FJlRCxCyQWNoLptbE5bOzSSIpISBFIk0ZIkBQpUsQfsLMRCSrYnJ1YHYgWWlgJgpAyEHM/u3N78+UtOcPtGcLerffg2GN2772bee99S+cfH4o0KPhyNmzwhiChXUULN3VTSvM7leahQU+++xWYZWbQA00jdnHx70Ug78q1SmBectta07ArUuK/AgMulSqhmb6z7tBeNeTeBYZ86egmH9dCftZ5L+fSFsjn0+5A/oN8JIj4sq6T5ITTz3vyUzfkd3YA8rF6g091xIXEvyDBOVcuwugV0SVUWwwnq5oPo2bSQEuKCORFxHJf9ADVIi9WQ7ON+FmJmxYFMPQ5yE9Ej1DI+AK2vn6b8U6P4MWRbVHXxPAsQiHf0MXyIx0ZtkUfgBPQ0jBbok8whpX0HbnZD/I41gOOXFUw9wXGQQXXV53d9Gy6wjk+/Vk3lW4F4KnAFPhTNHxZRIneQjWhETT4MXpxjZQ96HUnf5uMJH1GouaQe9P+AEo3XNN8BZGJTAIxkPcdlGoqdr99HeXzcITluC+ZBFoi5ZxDTxxFNyIxooXC2P6GXb7OJBADpl76No26Nn1PxA5lhMgXiLzPJNAS+eEpGvUdOkukA5+aNkuZBVoiGqNiHC+eg84U3ovALfDimUFXvmJsmzhlKOeHtAK/BRgA8i7aLbd9vBIAAAAASUVORK5CYII=')

.header
  display flex
  justify-content space-between
  margin-bottom 6px

.invite-wrap
  width 240px
  min-width 240px


.invite-button
  background-color $color-orange
  border 1px solid $color-orange
  color $color-white
  text-align center
  width 100%
  font-weight bold
  line-height 40px
  box-sizing border-box
  cursor pointer
  &:hover
    background-color $color-orange_hover
    border 1px solid $color-orange_hover-border
  &.-active
    background-color $color-orange_active
    border 1px solid $color-orange_active-border

.content
  flex-grow 1
  box-sizing border-box

.-content-padding
  padding-left 14px
  padding-right 14px
  box-sizing border-box

.title
  margin-top 0
  color $color-orange
  font-size 24px

.-gothic-text
  line-height 20px
  color $color-blue

.-color_grey
  color $color-grey

.info
  width 100
  text-align justify

.invite-form
  padding 10px 15px
  width 100%
  box-sizing border-box

.gallery
  position relative
  width 100%
  margin-top 36px
  display flex
  justify-content space-between
  flex-wrap wrap
  box-sizing: border-box

.gallery-item
  width 188px
  padding 0 14px 8px
  box-sizing border-box

.gallery-item_img
  width 160px
  height 160px
  background-color $color-green
  margin-bottom 12px

.gallery-item_text
  height 36px
  padding-bottom 16px
  text-align center

.input
  border none
  border-bottom 1px solid $color-grey
  font-style italic
  margin-top 1px
  padding 10px 0
  box-sizing border-box
  display inline-block
  width 100%
  font-family "Century Gothic", sans-serif
  outline none
  &.-light-focus:focus
    border-bottom: 1px solid $color-blue
  &.-select
    padding 6px 0
    font-style none;
  &.-inline
    width auto
    margin-right 40px

.button
  display inline-block
  border none
  color $color-white
  background-color $color-green
  padding 8px 16px 9px
  font-family "Century Gothic", sans-serif
  font-weight bold
  cursor pointer

.submit-wrap
  width 100%
  text-align right
  margin-top 30px

.search-form
  position relative
  width 400px
  margin 35px 0

.search-submit
  position absolute
  display block
  width 36px
  height 36px
  top 0
  right 0
  border none
  background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUlJREFUeNqs1M9HRFEYxvF+iUvRPiJaRYkSrSKiRSKKFIkWKUVa9Ae0GrVKkdumxShSm0m0ilbthtQq5g+IVilGadT35IlX7jlnVC8f5t6Zec655z3n1qZpWvNfVZdxL8EarvGBd1xiEfWhsIYf1+04R6eui2jEkMxhFI+xmSUmaBvN6EM3WnCEfhR8M7RhywrawCpezHdPmMEpBjAfC5tWQC6wLEuo6LfBMDerG5QDYW6tSmZNvWFvWrdYJb4BbZjrXA9aA0FdaMNdLGxPXdrxdMttkQN9zsXCjnGGcW3YQQU0YQS36NWsytWcgCls6U9XeMUzLtCBez2qG2wsdgLciOua5bBCKwrJq4sFzfgEk3qazDDbjGLG/ZIG2zSB35s586DHyi3DimnKISZ+G+ZqFwsmMP1LmKt9zOJBLwHvmlVbefmqTwEGAPaLQaU8fqjNAAAAAElFTkSuQmCC')
  background-repeat no-repeat
  cursor pointer
  background-color transparent
  background-position-y center
  background-position-x right
  outline none

.house-info-wrap
  display flex

.house-info_text
  padding-top 8px
  font-weight bold

.house-info_image
  width 240px
  height 240px
  margin-top: 20px;
  background-color $color-grey

.house-stat
  margin-left 40px

.house-stat_notice
  padding-top 10px
  font-size 12px

.house-stat_graph-wrap
  display flex
  height 100%

.graph
  width 340px
  height 210px
  margin-top 21px
  background-color #dedede

@import "mobile.styl"
