@media (max-width:600px)
  .main_wrap
    flex-direction column
    margin 0

  .header
    flex-direction column
    max-height none
  .invite-wrap
    width 100%;
    padding: 10px;
    box-sizing: border-box;
    order 0
  .title
    order 1

  .invite-form_wrap
    height auto !important

  .main_wrap, .search-form
  .left-aside, .right-aside
    width 100%

  .left-aside
    display flex
    justify-content space-between
    order 1

  .right-aside
    padding 10px
    box-sizing border-box
    order 2

  .content
    order 3

  .title
    font-size 18px

  .-content-padding
    padding-left 10px
    padding-right 10px

  .gallery
    padding-left 0
    justify-content space-around
    &:after
      width 150px

  .gallery-item
    width 150px
    padding 0 10px 8px

  .gallery-item_img
    width 130px
    height 130px

  .house-info-wrap
    flex-direction column

  .house-stat_graph-wrap
    flex-direction column

@media (max-width:350px)
  .logo
    width 135px