//заголовок
$color-orange = #f19821
$color-orange_hover = #d3851d
$color-orange_hover-border = #b57219
$color-orange_active = #b57219
$color-orange_active-border =  #975f15

$color-blue = #234a80

$color-red = #fc0008

$color-grey-light = #ccc
$color-grey = #999

$color-green = #7bb738

$color-white = aliceblue

$background-color = #fff