.grid
    width:100%;
    height:100%;

.grid-line {
    stroke: #cecece;
    stroke-width: 2;
}
.grid-line.-sep {
    stroke-width: 1;
}
.grid-line.-blue {
    stroke-width: 2;
    stroke: $color-blue;
}

.grid-line.-orange {
    stroke-width: 2;
    stroke: $color-orange;
}

.grid-line.-green {
    stroke-width: 2;
    stroke: $color-green;
}
