<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>RSU</title>
    <link href="./main.css" rel="stylesheet">
</head>
<body>
    <article class="main_wrap">
        <aside class="left-aside">
            <div class="logo_wrap">
                <img src="logo.png">
            </div>
            <div class="contacts -gothic-text">
                <div>+7 (343) 384-00-61</div>
                <div>info@ukliga.tu</div>
            </div>
        </aside>
        <section class="content">
            <h1 class="title -content-padding">Узнайте все о состоянии счета вашего дома</h1>
            <div class="-content-padding">
                <form class="search-form">
                    <input class="input -light-focus -right-padding" type="text" name="query" placeholder="введите адрес">
                    <input class="search-submit" type="submit" value="">
                </form>
            </div>
            <div class="info  -content-padding -gothic-text -color_grey">Мы открываем для каждого дома отдельный расчетный счет в банке. Как будто у дома есть своя карточка. Все средства от жителей приходят на этот счет, и все платежи поставщикам уходят также с него. Средства, собранные на счет вашего дома, не могут быть направлены на нужды другого.</div>
            <div class="gallery">
                <div class="arrow-left"></div>
                <div class="arrow-right"></div>
                <div class="gallery-item">
                    <div class="gallery-item_img"></div>
                    <div class="gallery-item_text -gothic-text">Московский пр-т, 57, корп. 1</div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-item_img"></div>
                    <div class="gallery-item_text -gothic-text">Московский пр-т, 57, корп. 1</div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-item_img"></div>
                    <div class="gallery-item_text -gothic-text">Московский пр-т, 57, корп. 1</div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-item_img"></div>
                    <div class="gallery-item_text -gothic-text">Московский пр-т, 57, корп. 1</div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-item_img"></div>
                    <div class="gallery-item_text -gothic-text">Московский пр-т, 57, корп. 1</div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-item_img"></div>
                    <div class="gallery-item_text -gothic-text">Московский пр-т, 57, корп. 1</div>
                </div>
            </div>
        </section>
        <aside class="right-aside">
            <div class="-gothic-text">
                Пригласить РСУ к себе в дом
            </div>
            <form class="invite-form">
                <input class="input -light-focus" type="text" name="name" placeholder="имя">
                <input class="input -light-focus" type="text" name="phone" placeholder="телефон">
                <input class="input -light-focus" type="text" name="address" placeholder="адрес дома">
                <div class="submit-wrap">
                    <input class="button" type="submit" value="Пригласить">
                </div>
            </form>
        </aside>
    </article>
</body>
</html>